@use '../utils' as var;

.btn {
  padding: .7rem 5.6rem .7rem 5.1rem;
  background: var.$color-grad;
  color: white;
  border-radius: .5rem;
  font-weight: 700;

  @include var.desktop {
    padding: .7rem 15rem;
    font-size: 1.5rem;
  }
}
